.modal-content {
  border-radius: 12px;
  overflow: hidden;
  border: none;
}

.modal-header {
  background-color: #0e382f; /* Main color */
  color: #ffffff;
  border-bottom: none;
  padding: 1.5rem;
}

.btn-model {
  border: none;
  background: transparent;
  font-size: 1.25rem;
  color: #0e382f; /* Main color */
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ef9b284d; /* Secondary color */
  }
}

.info-list {
  margin-top: 1rem;
}

.info-list li {
  font-size: 1rem;
  line-height: 1.5;
  margin: 5px;
  padding: 10px;
}

.info-list strong {
  color: #0e382f; /* Main color */
}

.modal-footer {
  border-top: none;
  padding: 1rem;
  background-color: #ffffff;
  justify-content: flex-end;
}
