/**---- Forget Password Css ----**/
#change_pass_page{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        inset-inline-end: 0;
        background-image: url(../../../../assets/images/svg/change/change-top.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
    }
    &::after{
        content: '';
        width: 300px;
        height: 400px;
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        background-image: url(../../../../assets/images/svg/change/change-bottom.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
    }
}