#home_page {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 5%;
  flex-direction: column;
  background-color: #f5f5f5;
  .banner {
    min-height: 300px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-image: url(../../../assets/images/home-banner.png);
    background-size: cover;
    background-position-y: top;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(49, 89, 81, 0.44);
    }
    h3 {
      color: #fff;
      position: relative;
      z-index: 99;
      margin-bottom: 30px;
      span {
        color: #ef9b28;
      }
    }
    p {
      position: relative;
      color: #fff;
      z-index: 99;
      font-weight: 300;
      font-size: 18px;
    }
  }
  .data-cart {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    .title {
      margin-inline-start: -20px;
      border-inline-start: 4px solid #ef9b28;
      padding-inline-start: 20px;
      margin-bottom: 20px;
      h3 {
        color: #000;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      p {
        font-size: 15px;
        color: #6f7881;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
    .static-bx {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      &.color-1 {
        background-color: #e5e6f4;
        .icon {
          background-color: #cfd1ec;
        }
      }
      &.color-2 {
        background-color: #f4f4e5;
        .icon {
          background-color: #e4e4bc;
        }
      }
      &.color-3 {
        background-color: #f4e5ed;
        .icon {
          background-color: #e7c3d7;
        }
      }
      .icon {
        padding: 10px;
        border-radius: 15px;
        display: inline-flex;
        width: fit-content;
        margin-bottom: 10px;
      }
      p {
        color: #6f7881;
        font-size: 14px;
        margin-bottom: 2px;
      }
      h3 {
        margin-bottom: 0;
        color: #000;
        font-size: 17px;
      }
    }
  }
}
