#noData {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 30%;
    padding: 0;
  }
  span {
    font-size: 25px;
    margin-top: 8px;
    font-weight: 500;
    color: #456962;
  }
}
